/* PC */
@media (min-width: 64em) {
    #header .menu-mobile-btn {
        display: none;
    }
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    #nav .subnav a {
        padding: 5px 12px;
    }

    .btn {
        padding: 15px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
        font-style: 16px;
    }

    #footer .social {
        font-size: 48px;
    }

    #footer .social a {
        margin: 0 8px;
    }

    .contact-info {
        line-height: 2;
    }

    .contact-submit-btn{
        font-size: 16px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */
@media (max-width: 63.9375em) and (min-width: 48em) {
    #header .menu-mobile-btn {
        display: none;
    }
}

/* Mobile */
@media (max-width: 47.9375em) {
    .s-col-full {
        width: 100%;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    .s-full-width {
        width: 100%;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #nav > li {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #nav {
        display: block;
    }

    #content .member-img {
        width: 60%;
    }

    .tickets-list .sold-out{
        margin-right: 5%;
    }

    .contact-form {
        margin-top: 32px;
    }
}
